* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.flex-container-column {
    display: flex;
    flex-direction: column;

    max-width: 800px;
    margin: 0 auto;
    text-align: right;
}

.flex-row{
    display: flex;
}

.button {
    flex-basis: 25%;
    font-size: 1.5em;
    text-align: center;
    padding: 40px;
    border: 1px solid black;
    background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
    cursor: pointer;
}

.button:active{
    background: rgb(74, 74, 101);
    color: rgb(212, 133, 23);
}

.double {
    flex-basis: 50%;
}

.display {
    font-size: 2rem;
    padding-right: 1.3rem;
    background-color: rgb(74, 74, 101);
    color: rgb(212, 133, 23);
    border: 1px solid black;
}

.negative, .operator, .equals {
    background: rgb(212, 133, 23);
    color: rgb(74, 74, 101);
    font-weight: bolder;
    font-size: xx-large;
}
.negative:active, .operator:active, .equals:active {
    color: white;
    background: rgb(212, 133, 23);
    opacity: 0.8;
    
}

/*Riwayat*/
.history {
    width: 80%;
    border: 1px solid black;
    margin: 30px auto 0 auto;
    overflow: scroll;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 16px;
}

th {
    background-color: rgb(212, 133, 23);
    color: rgb(74, 74, 101);
}

tr:nth-child(even){
    background-color: #d2d2d2;
}

@media screen and (max-width: 500px){
    .button {
        padding: 10px;
    }
    .history {
        width: 100%;
    }
}

