* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Helvetica;
    color: wheat;
    background: rgb(31, 23, 17);
}

header {
    text-align: center;
    padding: 1.2rem 0 1.2rem 0;
    /* background-color: rgb(53, 39, 9); */
}

main {
    display: flex;
    flex-direction: row;
    padding: 2rem 0 2rem 0;
    /* border: 1px solid ; */
}

aside {
    padding: 0 0 0 40px;
    flex-basis: 20%;

}

aside > .nav > li {
    list-style: none;
    margin: 2rem 0 2rem 0;
}

aside > .nav > li > a:hover {
    font-weight: bold;
}
.nav {
    border-right: 2px solid wheat;

}

a {
    text-decoration: none;
    color: wheat;
}

/* main home */
.home {
    flex-basis: 80%;
    background: url("./homeImage.jpg") no-repeat center;
    background-size: cover;
    box-shadow: inset 0 0 10px 3px #8a7b53;
    position: relative;
    height: 350px;;
    max-width: 76%;
    /* border: 1px solid wheat; */
}

.explore {
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.explore > p {
    font-weight: bold;
    font-size: 3.5rem;
}
/* main home */

/* main profil */
.profil {
    display: flex;
    width: 77%;
}

.photo-container {
    flex-basis: 20%;
    position: relative;
}

.photo {
    left: 30%;
    top: 20%;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: auto;
    box-shadow: 0 0 5px ;
}

.biodata {
    flex-basis: 80%;
}

.container {
    display: flex;
    flex-direction: row;
}

.first-column{
    margin: 1.6rem 0 0 0;
    flex-basis: 50%;
    text-align: center;
}

.first-column > p {
    
    margin: 2rem 0 0 0;
}

.second-column{
    margin: 1.6rem 0 0 0;
    flex-basis: 50%;
    text-align: center;
}

.second-column > p {
    margin: 2rem 0 0 0;
    
}
/* main profil */

/* main cv */
.cv-container {
    display: flex;
    width: 77%;
    /* border: 1px solid ; */
}

.photo-cv {
    position: relative;
    flex-basis: 20%;
    /* border: 1px solid; */
}

.photo-cv > img {
    box-shadow: 0 0 5px ;
    top: 5%;
    left: 30%;
    position: absolute;
    width: 100px;
    height: auto;
}

.data-cv {
    flex-basis: 80%;
}

.data-pribadi > h3 {
    background-image: linear-gradient(to right, rgb(53, 39, 9), rgb(31, 23, 17) );
    max-width: 30%;
}

.data-pribadi > table{
    border-spacing: 20px;
}

.data-pendidikan > h3 {
    margin: 2rem 0 0 0;
    background-image: linear-gradient(to right, rgb(53, 39, 9), rgb(31, 23, 17) );
    max-width: 30%;
}

.data-pendidikan > table {
    border-spacing: 20px;
}

.data-kemampuan > h3{
    margin: 2rem 0 0 0;
    background-image: linear-gradient(to right, rgb(53, 39, 9), rgb(31, 23, 17) );
    max-width: 30%;
}

.data-kemampuan > table {
    border-spacing: 20px;
}
/* main cv */

/* main portofolio */
.some-project {
    display: flex;
    flex-direction: column;
    width: 77%;
    padding-left: 2rem;
    /* text-align: center; */
    /* border: 1px solid; */
}
.calculator {
    position: relative;
    flex-basis: 50%;
}
.calculator > img {
    margin-top: 1rem;
    width: 300px;
    height: auto;
}
.calculator> a >button {
    padding: 10px;
    background: none;
    position: absolute;
    top: 30%;
    left: 35%;
    color: wheat;
    border: 1px solid wheat;
}
.calculator> a > button:hover {
    box-shadow: 0 0 5px wheat;
    cursor: pointer;
}
.bookshelf {
    position: relative;
    margin: 2rem 0 0 0;
    flex-basis: 50%;
}
.bookshelf > img {
    margin-top: 1rem;
    width: 300px;
    height: auto;
}
.bookshelf > a > button {
    padding: 10px;
    background: none;
    position: absolute;
    top: 30%;
    left: 35%;
    color: wheat;
    border: 1px solid wheat;
}
.bookshelf > a > button:hover {
    box-shadow: 0 0 5px wheat;
    cursor: pointer;
}
.responsive-web {
    position: relative;
    margin: 2rem 0 0 0;
    flex-basis: 50%;
}
.responsive-web > img {
    margin-top: 1rem;
    width: 300px;
    height: auto;
}
.responsive-web > a > button {
    padding: 10px;
    background: none;
    position: absolute;
    top: 30%;
    left: 35%;
    color: wheat;
    border: 1px solid wheat;
}
.responsive-web > a > button:hover {
    box-shadow: 0 0 5px wheat;
    cursor: pointer;
}
/* main portofolio */

/* main kontak */
.container-kontak {
    display: flex;
    flex-direction: column;
    width: 77%;
    padding-left: 2rem;
}
.whatsapp {
    flex-basis: 33.3%;
}
.instagram {
    flex-basis: 33.3%;
}
.email {
    flex-basis: 33.3%;
}
/* main kontak */
footer {
    padding: 10px;
    width: 100%;
    background-color: rgb(53, 39, 9);
    /* border: 1px solid; */
}
.footer-kontak {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: rgb(53, 39, 9);
}
.footer-home {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: rgb(53, 39, 9);
}
.footer-profil {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: rgb(53, 39, 9);
}
.headFooter {
    text-align: center;
    padding: 10px 0 0 0;
}

.textFooter {
    padding: 15px 0 15px 0;
    display: flex;
    text-align: center;
}

.textFooter > li {
    list-style: none;
}

.flex-item {
    flex-basis: 33.3%;
}