body {
    box-sizing: border-box;
    font-family: sans-serif;
    width: 80%;
    margin: 0 auto;
}

header {
    width: 100%;
    border-bottom: 5px solid rgb(103, 66, 56);
    
}
#nav li {
    display: inline;
    margin-right: 20px;
}
a {
    color: black;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
}

#content {
    /* border: 1px solid black; */
    flex-basis: 70%;
    padding: 10px;
}

aside {
    flex-basis: 30%;
    /* border: 1px solid black; */
    padding-left: 2rem;
    margin-bottom: 3rem;
}

.responsive {
    max-width: 100%;
    height: auto;
  }


footer {
    width: 100%;
    background-color: rgb(103, 66, 56);
    color: white;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

@media only screen and (max-width: 800px){
    body {
        font-size: 3vw;
    }

    main {
        display: flex;
        flex-direction: column;
    }
    #nav {
        display: flex;
        flex-direction: row;
    }
    #nav li {
        list-style-type: none;
        flex-basis: 33%;
    }
}
